body {
    font-family: $font;
}

* {
    margin: 0;
}

header {
    padding: 2em 0 1em;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;

    nav {
        margin-left: auto;
    }
}