input,
textarea,
select {
    font-family: $font;
    border: 2px solid black;
    border-radius: 5px;
}

.btn {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.3em 1.6em;

    &:hover {
        cursor: pointer;
    }
}

.btn-green {
    background-color: rgb(172, 226, 210);
}

.btn-red {
    background-color: #e8bdbd;
}