@import "variables";
@import "utilities";
@import "header";

main {
    padding: 2em 0;

    form {
        width: 85%;
        margin: 0 auto;

        label {
            min-width: 10rem;

            @media screen and (max-width: 320px) {
                min-width: 4rem;
            }
        }

        .input-container {
            margin-bottom: 1em;
            display: flex;
            align-items: center;

            input,
            select {
                padding: 0.2em;
                width: 20%;

                @media screen and (max-width: 1024px) {
                    width: 40%;
                }

                @media screen and (max-width: 580px) {
                    width: 60%;
                }

                @media screen and (max-width: 320px) {
                    width: 100%;
                }
            }
        }

        .error {
            margin: -1em 0 1em;
            color: #d36868;
        }

        select#productType {
            width: 14em;
        }

        .indications {
            font-size: 0.9rem
        }
    }

    .book-type-input,
    .dvd-type-input,
    .furniture-type-input {
        display: none;
    }
}