@import "variables";
@import "utilities";
@import "header";

main {
    padding: 2em 0;

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-template-rows: auto;
        grid-gap: 1.4rem;
        width: 85%;
        margin: 0 auto;

        .product {
            padding: 2rem;
            text-align: center;
            border: 2px solid black;
            border-radius: 5px;
            position: relative;

            .delete-checkbox {
                position: absolute;
                top: 1em;
                left: 1em;
            }
        }
    }
}